/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
}

/* utility */
.curve{
    display: block;
    display: flex;
    flex-direction:column;
}
.curve-rotate{
    display: block;
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
}
.text-p{
    padding: 10px 0;
    font-size: 12px;
    line-height: 20px;
    word-spacing: 2px; 
}

.body-container{
    flex-basis: 30%;
    padding: 30px 0px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    word-spacing: 2px;
}

.margin{
    margin: 20px 0;
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.container{
    width: 70%;
    margin: auto;
}

.nav-bar{
    padding: 20px 0;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{}

.nav__list{

}
.nav-list ul{
    display: flex;
    justify-content: space-between;
}
.nav-list li{
 margin: 0 10px; 
}

.nav-btn{}

.header-content{
    padding: 40px;
    color: #fff;
    width: 60%;
    margin: auto;
}

.header-row{}

.header-title{
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

.header-text {
    word-spacing: 2px;
    text-align: center;
    line-height: 30px;
}

.header-btn{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.header-btn button{
   margin-right: 20px;
}

.header-btn .btn-white::before{
    content: '\2193';
    margin-right: 5px;
    font-size: 15px;
}

.btn-black{
  background-color:#23272a;
  color: #fff;
  border: 1px solid #23272a;
}

/* main */

/* study-container */

.study-group{}

.study-row{
    display: flex;
    justify-content: space-between;
}

.study-img{
   flex-basis: 70%;
}

.study-body{}

.study-title{}

.study-text{}

/*  voice__container*/

.voice-connected{
    background-color: #f6f6f6; 
}

.voice-connected::after{

}

.voice-row{
    display: flex;
} 

.voice-body{}

.voice-title{}

.voice-text{}

.voice-img{
    flex-basis: 70%;
}

/* coach__container */

.coach{}

.coach-row{
    display: flex;
}

.coach-img{
    flex-basis: 70%;
}

.coach-body{}

.coach-title{}

.coach-text{}

/* contact__container */
.contact{
    /* padding: 20px 0; */
    background-color: #f6f6f6;
}

.contact-row{}

.contact-body{
    padding: 20px 0;
    text-align: center;
}

.contact-title{
    
}

.contact-text{}

.contact-img{
    text-align: center;
}

.contact-subtitle{
    margin: 10px 0;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size:50%;
    height: 50px;
}

.contact-btn{
    margin: 20px 0;
    text-align: center;
}
.contact-btn button{
    padding: 10px 20px;
    background-color: #8ea1e1;
    color: #fff;
    border: 1px solid#8ea1e1;
    border-radius: 20px;
    
}
 .contact-btn button::before{
    content: '\2193';
    color: #fff;
    margin-right: 5px;
    font-size: 15px;
} 


/* footer-container */
.footer{
background-color: #23272a;
padding: 20px 0;
}

.footer-row{}


.list li{
    padding: 5px 0;
}
.list{
   flex :1 0 auto;
   color: #fff;
}
.list:first-child{
    flex: 2 0 auto;
}

.list-row{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.list-social{
   
}
.list-title{
    color: #8ea1e1;
}

.list-italiano{
    padding: 20px 0;
    color: #fff;
    vertical-align: middle;
}
.list-italiano img{
    vertical-align: middle;
}

.list-icon img{
    margin: 0 10px;
  
}
hr{
    border: 1px solid #8ea1e1;
}
h5{
    color:#8ea1e1 ;
}


.list-footer{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.list-logo{}

.list-btn{}

.list-btn button{
    padding: 5px 10px;
    background-color: #8ea1e1;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #8ea1e1;
}